# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.spec

# Logs
data/logs/
*.log

# Temp
temp/

# User Data
backups/
data/settings.json
data/model_catalog.json

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store
